:root {
    --accordion-accent-0: var(--accent-0);
    --accordion-accent-1: var(--accent-1);
    --accordion-container-1: var(--container-1);
}

.accordion .title {
    cursor: pointer;
    padding: 16px;
    border: none;
}

.accordion.expanded .title {
    background-color: var(--accordion-accent-0);
}

.accordion .title:hover {
    background-color: var(--accordion-accent-1) !important;
}

.accordion .content {
    background-color: var(--accordion-container-1);
    padding: 0 16px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 250ms ease-out;
}

.accordion .content > :first-child {
    padding-top: 16px;
}

.accordion .content > :last-child {
    padding-bottom: 16px;
}
