@import "https://www.nerdfonts.com/assets/css/webfont.css";

:root {
    --container-0: #171717;
    --container-1: #2e2e2e;
    --container-2: #454545;
    --container-3: #5d5d5d;
    --container-4: #747474;
    --text-0: #ffffff;
    --text-1: #e8e8e8;
    --text-2: #d1d1d1;
    --accent-0: #9b3427;
    --accent-1: #b34a32;
    --accent-2: #c75c38;
    --accent-3: #d17147;

    --success: #0aa25e;
    --error: #b21351;

    --border-radius: 8px;
    --border-radius-smaller: 4px;
    --gap: 16px;
    --gap-smaller: 8px;
    --animation-duration: 250ms;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin: 16px 0;
}

html {
    background-color: var(--container-0);
    color: var(--text-0);
    font-family: Calibri, serif;
}

body {
    min-height: 100vh;
}

body.online i.nf > * {
    display: none;
}

i.nf {
    font-style: normal;
}

a {
    color: var(--text-0);
}

a.no-link {
    text-decoration: none;
}

a:hover {
    color: var(--text-0);
}

a:visited {
    color: var(--text-1);
}

a.no-link:visited {
    color: var(--text-0);
}

button,
.button {
    padding: 0.5em 1em;
    border-radius: var(--border-radius);
    color: var(--text-0);
    background-color: var(--container-0);
    border: 2px solid var(--container-3);
    text-decoration: none;
    height: fit-content;
}

button:disabled {
    color: var(--text-2);
    background-color: var(--container-1);
}

button:hover,
.button:hover {
    outline: 2px solid var(--accent-3);
    background-color: var(--container-0);
    cursor: pointer;
    text-decoration: none;
}

button:disabled:hover {
    outline: unset;
    background-color: var(--container-1);
    cursor: not-allowed;
    text-decoration: none;
}

.link {
    all: unset;
    color: var(--accent-3);
}

.link.no-style {
    color: var(--text-0);
}

.link:hover {
    all: unset;
    cursor: pointer;
    text-decoration: underline;
    color: var(--accent-3);
}

.link.no-style:hover {
    text-decoration: unset !important;
    color: var(--text-0);
}

.transition-background {
    transition: background-color 500ms linear;
}

.validated {
    background-color: var(--success) !important;
}

.rejected {
    background-color: var(--error) !important;
}

.dragging {
    caret-color: transparent !important;
}

.display-none {
    display: none !important;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.row {
    display: flex;
    flex-direction: row;
    gap: var(--gap);
}

.pad-gap {
    padding: var(--gap);
}


::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--accent-0);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--accent-2);
}


.hide {
    display: none !important;
}

.opacity-0 {
    opacity: 0 !important;
}


.terminal {
    position: fixed;
    top: 0;
    left: 0;
    height: 60vh;
    width: 100%;
    background-color: black;
    color: #aae568;
    overflow: auto;
}


.dropdown.animate {
    transition: max-height ease-in-out var(--animation-duration);
}