@import "https://www.nerdfonts.com/assets/css/webfont.css";

:root {
    --container-0: #171717;
    --container-1: #2e2e2e;
    --container-2: #454545;
    --container-3: #5d5d5d;
    --container-4: #747474;
    --text-0: #ffffff;
    --text-1: #e8e8e8;
    --text-2: #d1d1d1;
    --accent-0: #9b3427;
    --accent-1: #b34a32;
    --accent-2: #c75c38;
    --accent-3: #d17147;

    --border-radius: 8px;
    --border-radius-smaller: 4px;
    --gap: 16px;
    --gap-smaller: 8px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin: 16px 0;
}

html {
    background-color: var(--container-0);
    color: var(--text-0);
    font-family: Calibri, serif;
}

body {
    min-height: 100vh;
}

a {
    color: var(--text-0);
}

a.no-link {
    text-decoration: none;
}

a:hover {
    color: var(--text-0);
}

a:visited {
    color: var(--text-1);
}

a.no-link:visited {
    color: var(--text-0);
}

button {
    padding: 0.5em 1em;
    font-size: 1em;
    border-radius: var(--border-radius);
    color: var(--text-0);
    background-color: var(--container-0);
    border: 2px solid var(--container-3);
}

button:hover {
    outline: 2px solid var(--accent-3);
    background-color: var(--container-0);
    cursor: pointer;
}

button.link {
    all: unset;
    color: var(--text-2);
    font-size: 0.9em;
    font-weight: bold;
}

button.link:hover {
    cursor: pointer;
    text-decoration: underline;
}



::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: var(--accent-0);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--accent-2);
}



.hide {
    display: none;
}



.terminal {
    position: fixed;
    top: 0;
    left: 0;
    height: 60vh;
    width: 100%;
    background-color: black;
    color: #aae568;
    overflow: auto;
}