:root {
    --tabs-accent-0: var(--accent-0);
    --tabs-accent-1: var(--accent-1);
    --tabs-container-1: var(--container-1);
}

.tabs {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--tabs-container-1);
}

.tabs .labels {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.tabs .labels .label {
    padding: 8px;
    text-wrap: nowrap;
}

.tabs .labels .label:hover {
    background-color: var(--tabs-accent-1) !important;
    cursor: pointer;
}

.tabs .labels .label.selected {
    background-color: var(--tabs-accent-0);
}

.tabs .tabs__wrapper {
    padding: 8px;
    display: block;
    width: 100%;
    height: 100%;
}

.tabs .tabs__wrapper:not(.selected) {
    display: none;
}
