.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.card {
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    background-color: gold;
    aspect-ratio: 1/1;
    width: 200px;
}