.menu:not(.no-inset) {
    padding-left: var(--gap);
}

.menu .menu-item.has-sub-menu {
    margin: calc(var(--gap) / 2) 0;
}

.menu .menu-item .head:hover {
    cursor: pointer;
}

.menu .menu-item .head {
    padding: calc(var(--gap) / 4) var(--gap);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu .menu-item .head:hover {
    background-color: var(--accent-0) !important;
}

.admin-menu .menu-item.selected > .head {
    background-color: var(--accent-1);
}

.admin-menu .menu-item:not(.has-target) > .head > a {
    text-decoration: none;
}
