main {
    --form-container-0: var(--container-1);

    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

main > div {
    width: min(350px, 90vw);
}