body {
    width: 100vw;
    height: 100vh;
}

.gui {
    visibility: hidden;
    position: absolute;
    display: flex;
    user-select: none;
    z-index: 1;
}

.gui > button,
.gui > .button {
    font-size: 20px !important;
    padding: 0 !important;
    border-radius: 0 !important;
    box-sizing: unset;
    height: 32px;
    width: 32px;
    aspect-ratio: 1 / 1;
    text-align: center;
    display: grid;
    place-items: center;
    font-family: monospace;
}

.edit-controls {
    top: calc(100% - 16px);
    right: 12px;
    padding: 0 4px 8px 8px;
}

.edit-controls .drag-handle.ff-fix {
    position: relative;
}

.edit-controls .drag-handle * {
    color: var(--text-0) !important; /* TODO text color opposite */
}

.edit-controls .drag-handle.ff-fix::after {
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}

.widget.margin {
    margin: 8px 16px;
}

.widget {
    opacity: 1;
    transition: opacity 150ms linear;
}

.widget.selected-widget-for-operation {
    opacity: 0.6;
}

.drag-hint {
    width: 85%;
    height: 0;
    background-color: var(--accent-3);
    margin: 2px auto;

    transition: height 100ms ease-in-out, width 100ms ease-in-out;
}

.drag-hint.expand {
    width: 90%;
    height: 10px;
}

.widget.edit {
    outline: 2px solid transparent;
    transition: outline-color 150ms linear;
}

.widget.hover > .gui,
.widget:focus > .gui {
    visibility: visible;
    opacity: 1 !important;
}

.widget.selected-widget-for-operation,
.widget.edit.hover,
.widget.edit:focus {
    outline-color: var(--accent-2);

    transition: outline-color 0ms linear;
}

.widget.remove {
    opacity: 0;
    transition: opacity 175ms linear;
}

.gui .button,
.gui button {
    user-select: none;
    padding: 4px;
    border-radius: 0;
    color: var(--text-0); /* TODO tco */
    background-color: var(--accent-2);
    border: 2px solid var(--accent-3);

    transition: background-color 250ms linear;
}

.gui button:hover {
    cursor: pointer;
    background-color: var(--accent-1);

    transition: background-color 0ms linear;
}

.gui .button > *,
.gui button > * {
    color: inherit;
}

.w-root {
    width: 100%;
    min-height: 100%;
    overflow: hidden;

    background-color: var(--container-0);
    color: var(--text-0);
}