.article-card {
    background: var(--container-1);
    border: 1px solid var(--container-2);
    border-radius: var(--border-radius);
    overflow: hidden;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    display: flex;
    flex-direction: column;
}

.article-card:hover {
    cursor: pointer;
    transform: translateY(-4px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
}

.article-card.has-image .article-image {
    display: block;
}

.article-image {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    display: none;
}

.article-content {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.article-title {
    font-size: 1.25rem;
    font-weight: 600;
}

.article-card.has-description .article-description {
    display: -webkit-box;
}

.article-description {
    color: var(--text-1);
    margin-bottom: 1rem;
    display: none;

    overflow: hidden;
    -webkit-line-clamp: 3; /* number of lines to show */
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

.read-more {
    display: inline-block;
    font-weight: 500;
    color: var(--accent-1);
}