.w-list-item {
    padding: 8px 16px;
    margin: 0 32px;
}

.w-list-item::marker {
    background-color: var(--accent-3);
    color: var(--text-2);
}

.w-list-item > .gui.edit-controls {
    padding-bottom: 0;
}