.w-image-mount {
    display: grid;
    place-items: center;
}

.w-image-mount .move-able:hover {
    cursor: all-scroll;
}

.w-image-container {
    width: max-content;
}

.w-image {
    width: 100%;
    height: 100%;
    object-fit: cover;

    object-position: 50% 50%;
}