.menu:not(.no-inset) .menu-item .head {
    padding-left: calc(var(--gap) * (var(--menu-level) + 1)) !important;
}

.menu .menu-item .head:hover {
    cursor: pointer;
}

.menu .menu-item .head {
    padding: calc(var(--gap) / 2) var(--gap);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu .menu-item .head:hover {
    background-color: var(--container-2) !important;
}

.menu .item-label {
    display: flex;
    gap: calc(var(--gap) / 2);
}

.admin-menu .menu-item.selected > .head {
    background-color: var(--container-3);
}

.admin-menu .menu-item:not(.has-target) > .head > a {
    text-decoration: none;
}
