:root {
    --form-container-0: var(--container-0);
    --form-container-1: var(--container-1);
    --form-container-2: var(--container-2);
    --form-container-3: var(--container-3);
    --form-container-4: var(--container-4);
    --form-text-0: var(--text-0);
    --form-text-2: var(--text-2);
    --form-accent-0: var(--accent-0);
    --form-accent-1: var(--accent-1);
    --form-accent-3: var(--accent-3);

    --form-container-input-0: var(--form-container-0);
    --form-container-input-2: var(--form-container-2);

    --form-invalid-0: #f13854;
    --form-invalid-1: #f3919f;
    --form-invalid-text-0: black;

    --form-border-radius: var(--border-radius);
    --form-border-radius-smaller: var(--gap-smaller);
    --form-gap: var(--gap);
    --form-gap-smaller: var(--gap-smaller);
}

.form .form-barrier {
    display: flex;
    flex-direction: column;
    padding: 32px;
    background-color: var(--form-container-0);
    color: var(--form-text-0);
    border-radius: var(--form-border-radius);
    gap: var(--form-gap);
}

.form-control {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-control.hide {
    margin-top: calc(var(--form-gap) * -1);
}

.form-actions {
    width: 100%;
    display: flex;
    gap: var(--form-gap);
    justify-content: end;
    align-items: end;
}

.form hr {
    width: 100%;
}

.form-column {
    display: flex;
    flex-direction: column;
    gap: var(--form-gap);
    height: 100%;
}

.form-row {
    display: flex;
    gap: var(--form-gap);
    align-items: center;
}

.radio-container,
.checkbox-container {
    font-family: Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.1;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
}

input[type="radio"],
input[type="checkbox"] {
    position: relative;

    appearance: none;
    background-color: var(--form-container-input-0);
    margin: 0 !important;

    font: inherit;
    color: var(--form-text-0);
    width: 1.15em;
    height: 1.15em;
    border: 2px solid var(--form-container-3);
    border-radius: 0.15em !important;
    transform: translateY(-0.075em);
    transition: background-color var(--animation-duration) linear;
}

input[type="radio"] {
    border-radius: 50% !important;
}

input[type="radio"]:checked,
input[type="checkbox"]:checked {
    background-color: var(--form-accent-3);
    border-color: var(--form-accent-0);
    transition: background-color var(--animation-duration) linear;
}

input[type=radio]:focus,
input[type=checkbox]:focus {
    outline: 2px solid var(--form-accent-1);
}


input[type="radio"]:after {
    content: "";
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background-color: var(--form-container-input-0);
}


input {
    border-radius: var(--form-border-radius);
    border: unset;
    padding: 8px;
    background-color: var(--form-container-input-0);
    color: var(--form-text-0);
    border: 2px solid var(--form-container-3);

    width: clamp(100px, 100%, 700px);

    transition: background-color var(--animation-duration) linear,
        border-color var(--animation-duration) linear;
}

input[readonly] {
    background-color: var(--form-container-input-0);
    color: var(--form-text-2);
    font-style: italic;
}

input:not([type=checkbox]):not([type=radio]):focus {
    outline: 2px solid var(--form-accent-1);
    background-color: var(--form-container-input-0);
    color: var(--form-text-0);
}

input[readonly]:focus {
    outline: unset;
    background-color: var(--form-container-input-0);
    color: var(--form-text-2);
}

input.form-invalid {
    background-color: var(--form-invalid-1);
    border-color: var(--form-invalid-0);
    color: var(--form-invalid-text-0);
}

.form-input-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--form-gap);

    border-radius: var(--form-border-radius);
    padding: 8px;
    background-color: var(--form-container-input-0);
    color: var(--form-text-0);
    border: 2px solid var(--form-container-3);

    width: clamp(100px, 100%, 700px);
    transition: background-color var(--animation-duration) linear,
        border-color var(--animation-duration) linear;
}

.form-input-icon input,
.form-input-icon input:focus {
    all: unset !important;
    flex: 1;
}

.form .control-label,
.form label {
    margin-bottom: 0.25em;
}

.form-file {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--form-gap);

    min-height: 4em;

    border-radius: var(--form-border-radius);
    border: unset;
    padding: 8px;
    margin-top: 4px;
    background-color: var(--form-container-input-0);
    color: var(--form-text-0);
    border: 2px solid var(--form-container-3);
}

.form-files {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: end;
}

.form-files > div {
    padding: 4px 8px;
    border-radius: var(--form-border-radius-smaller);
    background-color: var(--form-container-input-0);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--form-gap);
}

.form-files > div > button {
    background-color: transparent;
    padding: unset;
    border: unset;
    color: crimson;
}

.form-files > div > button:hover {
    background-color: transparent;
    padding: unset;
    border: unset;
    color: crimson;
    outline: unset;
}

.form-invalid-message {
    padding: 4px;
    margin-top: calc(var(--form-gap) / 2);
    background-color: var(--form-invalid-1);
    color: var(--form-invalid-text-0);
    border-left: 2px solid var(--form-invalid-0);
}

.form textarea {
    border-radius: var(--form-border-radius);
    background-color: var(--form-container-input-0);
    color: var(--form-text-0);
    border: 2px solid var(--form-container-3);
    resize: none;

    padding: 8px;

    transition: background-color var(--animation-duration) linear,
        border-color var(--animation-duration) linear;
}

.form textarea:focus {
    outline: 2px solid var(--form-accent-1);
    background-color: var(--form-container-input-0);
    color: var(--form-text-0);
}

.form .chained-inputs > * {
    margin: 2px;
}


.form .h-line {
    width: 100%;
    height: 1px;
    margin: 10px 0;
    background-color: var(--form-container-4);
}

.form .divider {
    width: 100%;
    height: 50px;
}

.form .wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.form .wrapper.row {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.form .wrapper:first-child {
    margin-top: unset;
}

.form .wrapper:last-child {
    margin-bottom: unset;
}

.form .password-container {
    display: flex;
    align-items: center;
    gap: 4px;
    width: clamp(100px, 100%, 700px);
}

.form .password-container input {
    width: 100%;
}



.form-select {
    width: clamp(100px, 100%, 700px);
}

.form-select label {
    margin-bottom: 0 !important;
}

.form-select select {
    display: none;
}

.form-select .selection .option {
    flex: 1;
    max-width: 100%;
    overflow: hidden;
    text-overflow: clip;
    text-wrap: nowrap;
}

.form-select .head {
    margin-top: 4px;
}

.form-select .head .stack {
    display: grid;
    grid-template-columns: 1fr;
}

.form-select .head .stack > * {
    grid-row-start: 1;
    grid-column-start: 1;
}

.form-select .options {
    position: relative;
}

.form-select .dropdown {
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    width: 100%;
    overflow: auto;
    border-radius: var(--form-border-radius-smaller);
    background-color: var(--form-container-1);
    outline: 2px solid transparent;

    transition: max-height ease-in-out var(--animation-duration),
            outline-color var(--animation-duration);

    z-index: 1;
}

.form-select.expanded .dropdown {
    outline: 2px solid var(--form-container-3);
}

.form-select .dropdown-items {
    padding: 4px;
    display: flex;
    gap: 4px;
    flex-direction: column;
}

.form-select .dropdown-item {
    border-radius: calc(var(--form-border-radius-smaller) / 2);
    padding: 2px 4px;
}

.form-select .dropdown-item.cursor,
.form-select .dropdown-item.selected {
    background-color: var(--form-container-2);
}

.form-select .dropdown-item:hover {
    background-color: var(--form-accent-0);
}



.form-select.multiple .dropdown-item.selected {
    display: none;
}

.form-select.multiple .options-selected {
    display: flex;
    flex-wrap: wrap;
    gap: var(--form-gap-smaller);
    margin-top: calc(var(--form-gap-smaller) / 2);
    margin-bottom: var(--form-gap-smaller);
}

.form-select.multiple .options-selected .option {
    display: flex;
    gap: var(--form-gap-smaller);
    padding: 4px 8px;
    border-radius: var(--form-border-radius-smaller);
    background-color: var(--form-container-input-2);
    align-items: center;
}

.form-select.multiple .options-selected .option button {
    all: unset;
    font-size: 0.75rem;
}

.form-select.multiple .options-selected .option button:hover {
    cursor: pointer;
}
